In [1]:
import pandas as pd

In [7]:
dframe = pd.read_csv('pythonProject/lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [12]:
dframe = pd.read_csv('pythonProject/lec25.csv', header=None, nrows=2)
dframe

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [13]:
dframe.to_csv('samle_out.csv')

In [14]:
import sys
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear

In [15]:
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear

In [16]:
dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4

## lec26

In [17]:
# JSON (JavaScript Object Notation) のサンプル。
json_obj = """
{   "zoo_animal": "Lion",
    "food": ["Meat", "Veggies", "Honey"],
    "fur": "Golden",
    "clothes": null, 
    "diet": [{"zoo_animal": "Gazelle", "food":"grass", "fur": "Brown"}]
}
"""

In [18]:
import json

In [19]:
data = json.loads(json_obj)

In [20]:
data

{'zoo_animal': 'Lion',
 'food': ['Meat', 'Veggies', 'Honey'],
 'fur': 'Golden',
 'clothes': None,
 'diet': [{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]}

In [21]:
type(data)

dict

In [22]:
data['diet']

[{'zoo_animal': 'Gazelle', 'food': 'grass', 'fur': 'Brown'}]

In [23]:
json.dumps(data)

'{"zoo_animal": "Lion", "food": ["Meat", "Veggies", "Honey"], "fur": "Golden", "clothes": null, "diet": [{"zoo_animal": "Gazelle", "food": "grass", "fur": "Brown"}]}'

# lec 27 HTMLからのデータ読み出し

In [30]:
url = 'http://tsjshg.info/tables.html'

In [33]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\yuji\anaconda3\lib\site-packages (4.10.0)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: soupsieve>1.2 in c:\users\yuji\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [34]:
dframe_list = pd.io.html.read_html(url)

In [35]:
dframe = dframe_list[0]

In [36]:
dframe

     名前   種類
0  いよかん  柑橘類
1  でこぽん  柑橘類
2    ヒレ   牛肉
3   ロース   牛肉

In [37]:
dframe.columns

Index(['名前', '種類'], dtype='object')

# lec28

In [41]:
dframe = pd.read_excel('Lec_28_test.xlsx', sheet_name='Sheet1')

In [42]:
dframe

   This is a test  Unnamed: 1  Unnamed: 2
0              23        6678         456
1             234         678         456
2             234           7         345
3              34          56         234
4               5         456        4365