In [1]:
5/6

0.8333333333333334

In [2]:
5//6

0

In [5]:
import math
math.sqrt(36)

6.0

In [6]:
range(10)

range(0, 10)

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
random_list = ['hello, 76, 4.3']

In [10]:
random_list

['hello, 76, 4.3']

In [11]:
cities = ['NY','LA','SF']

In [13]:
for city in cities:
    print(city)

NY
LA
SF

In [16]:
for i in range(1,10):
    print('-> ',1.0/i)

->  1.0
->  0.5
->  0.3333333333333333
->  0.25
->  0.2
->  0.16666666666666666
->  0.14285714285714285
->  0.125
->  0.1111111111111111

In [17]:
for letter in 'Hello':
    print(letter)

H
e
l
l
o

In [19]:
for city in cities:
    if city =='NY':
        print('Party')
    elif city == 'LA':
        print('***')
    else:
        print('non')

Party
***
non

In [20]:
t=[1,2,3]

In [21]:
t.append(4)

In [22]:
t

[1, 2, 3, 4]

In [23]:
s =(1,2,3,4)

In [24]:
s.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [25]:
import sqlite3

In [26]:
import pandas as pd

In [27]:
con = sqlite3.connect('sample.db')

In [28]:
sql_query = 'select * from customer'

In [29]:
df = pd.read_sql(sql_query, con)

DatabaseError: Execution failed on sql 'select * from customer': no such table: customer